* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /*COLORS*/
    --bg-primary-color: rgb(17, 16, 16);
    --text-primary-color: rgb(222, 222, 222);
    --fill: rgba(59, 59, 59, 0.442);

    /*SIZING*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 16px;
    --space-xl: 20px;
    --space-2xl: 24px;

}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard {
    height: 100%;
    width: 100%;

    padding: var(--space-md) var(--space-lg);


}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--space-xl);
}

.new-task {
    height: 27px;
    width: 94px;
    text-align: center;

    border-radius: var(--space-lg);

    background-color: var(--fill);
    color: var(--text-primary-color);

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.task {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;

    display: none;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(2px);
}

.about-task {   
    background-color: rgba(24, 23, 23, 0.238) ;

    padding: var(--space-sm);

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    border: 4px solid rgba(61, 61, 61, 0.238);
    border-radius: var(--space-xl);
}


.task-name,
.task-desc,
.title1 {
    font-size: var(--space-xl);
    padding: var(--space-md);
}

#task-name,
#task-desc {
    background-color: var(--fill);
    color: var(--text-primary-color);


    font-size: var(--space-lg);
    border: none;
    border-radius: 25px;
    padding: 11px;
    margin: var(--space-sm) 0px;
}

.submit {
    height: 35px;
    width: 80px;
    text-align: center;

    border-radius: var(--space-lg);

    background-color: var(--fill);
    color: var(--text-primary-color);

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task:hover, .submit:hover{
    transform: scale(1);
    background-color: var(--text-primary-color);
    color: var(--bg-primary-color);
}
