* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --bg-primary-color: rgb(17, 15, 15);
    --button-primary-color: rgb(31, 28, 28);
    --text-primary-color: rgb(250, 250, 250);
    --task-primary-color:  rgb(48, 44, 44);
    --taskDone-color: rgb(240, 83, 83);

    /*SPACING OR SIZE*/
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 16px;
    --space-xl: 20px;
    --space-2xl: 24px;
}

html {
    background-color: var(--bg-primary-color);
    color: rgb(250, 250, 250);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-primary-color);
}

nav button {
    background-color: var(--button-primary-color);
    color: var(--text-primary-color);
    border: none;
    border-radius: var(--space-md);
    cursor: pointer;
    padding: var(--space-sm) var(--space-lg);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    gap: var(--space-2xl);
    margin: 0px 0px var(--space-lg) 0px;
}

section .task-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--button-primary-color);
    padding: var(--space-lg);
    gap: var(--nav-padding);
    border-radius: var(--space-md);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column .heading {
    display: flex;
    justify-content: space-between;
}

section .task-column .task {
    background-color: var(--task-primary-color);
    color: var(--text-primary-color);
    display: flex;
    flex-direction: column;
    padding: var(--space-sm);
    gap: 3px;
    border-radius: var(--space-md);
    cursor: grab;
}

section .task-column .task button {
    border-radius: var(--space-md);
    background-color: var(--taskDone-color);
    align-self: flex-end;
    padding: var(--space-xs) var(--space-sm);
    border: none;
    cursor: pointer;
    color: var(--text-primary-color);
}

section .task-column.hover-over {
    border: 1px solid var(--text-primary-color);
    scale: 1.05;
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;
}


.modal .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.255);
    backdrop-filter: blur(5px);
}

.modal .center {
    background-color: var(--bg-primary-color);
    padding: var(--space-2xl);
    border-radius: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    z-index: 10;
}

.modal .center input,
.modal .center textarea {
    background-color: var(--button-primary-color);
    border: none;
    outline: none;
    color: var(--text-primary-color);
    padding: var(--space-md);
    border-radius: var(--space-sm);
}

#add-new-task {
    border: none;
    border-radius: var(--space-sm);
    width: 70px;
    padding: var(--space-xs);
    align-self: center;
    cursor: pointer;
}